.banners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    .banner {
        display: grid;
        place-content: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        height: 170px;

        .caption {
            position: absolute;
            top: 30px;
            left: 30px;
            font-weight: 700;
            .white {
                color: #fff;
            }
            button {
                color: #fff;
                background-color: $red-color;
                padding: 3px 20px;
                border-color: transparent;
                border-radius: 9px;
                font-size: 20px;
                font-weight: bold;
                margin-top: 15px;
                &.black {
                    background: #111;
                }
            }
        }
    }
    .main-banner {
        grid-column: 1 / 3;
    }
}

@include responsive(lg) {
    .banners {
        grid-template-columns: 57.057% 1fr; //57.057
        .banner {
            grid-column: 2;
            width: auto;
            overflow: hidden;
            height: 100%;
        }
        .main-banner {
            grid-column: 1;
            grid-row: 1 / 3;
        }
    }
}
